@model KBP.Models.UyeAccount
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        .form-horizontal {
            font-weight: bold;
            margin-top: 0px;
            position: relative;
            left: 80px;
            width: 700px;
            height: 50px;
        }

        .kan {
            font-size: 20px;
            font-weight: bold;
        }
    </style>
    <link rel="stylesheet" href="~/Css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Css/owl.carousel.css">
    <link rel="stylesheet" href="~/Css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Css/font-awesome.min.css">

    <link href="~/Css/slider.css" rel="stylesheet" />


    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/Css/tooplate-style.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700" rel="stylesheet" />
    <link href="~/Css/KanMerkezi.css" rel="stylesheet" />
</head>
<body>

    <div class="section">

        <div class="curtain"></div>
        <canvas id="canvas"></canvas>

    </div>
    <div id="nav-container" class="blood-text">
        KAN MERKEZİ<br><br>
        <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
            <div class="container">

                <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                    </button>
                </div>
                <!-- MENU LINKS -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="@Url.Action("LoggedIn", "KanMerkezi")" class="smoothScroll">Anasayfa</a>
                        </li>

                        <li>
                            <a href="@Url.Action("bagisciListele", "KanMerkezi")" class="smoothScroll">Bağışçı Listesi</a>
                        </li>
                        <li id="Cıkıs"><a href="@Url.Action("Index", "Home")" class="smoothScroll">Çıkış Yap</a></li>
                    </ul>

                </div>

            </div>
        </section>
    </div>
    <br />
    <br />

    <section id="header" data-stellar-background-ratio="0.5">
        <div class="form-horizontal">
            <h4 style="font-size:large;color:brown;font-weight:100;font-weight:bold;">BAĞIŞÇI BİLGİSİ</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt style="color:brown; font-weight:bold; font-size:large;">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd style="font-weight:bold; font-size:large;">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt style="color:brown; font-weight:bold; font-size:large;">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd style="font-weight:bold; font-size:large;">
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt style="color:brown; font-weight:bold; font-size:large;">
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>

                <dd style="font-weight:bold; font-size:large;">
                    @Html.DisplayFor(model => model.UserName)
                </dd>

                <dt style="color:brown; font-weight:bold; font-size:large;">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd style="font-weight:bold; font-size:large;">
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt style="color:brown; font-weight:bold; font-size:large;">
                    @Html.DisplayNameFor(model => model.Password)
                </dt>

                <dd style="font-weight:bold; font-size:large;">
                    @Html.DisplayFor(model => model.Password)
                </dd>

                <dt style="color:brown; font-weight:bold; font-size:large;">
                    @Html.DisplayNameFor(model => model.ConfirmPassword)
                </dt>

                <dd style="font-weight:bold; font-size:large;">
                    @Html.DisplayFor(model => model.ConfirmPassword)
                </dd>

                <dt style="color:brown; font-weight:bold; font-size:large;">
                    @Html.DisplayNameFor(model => model.Yas)
                </dt>

                <dd style="font-weight:bold; font-size:large;">
                    @Html.DisplayFor(model => model.Yas)
                </dd>

                <dt style="color:brown; font-weight:bold; font-size:large;">
                    @Html.DisplayNameFor(model => model.Boy)
                </dt>

                <dd style="font-weight:bold; font-size:large;">
                    @Html.DisplayFor(model => model.Boy)
                </dd>

                <dt style="color:brown; font-weight:bold; font-size:large;">
                    @Html.DisplayNameFor(model => model.Kilo)
                </dt>

                <dd style="font-weight:bold; font-size:large;">
                    @Html.DisplayFor(model => model.Kilo)
                </dd>

                <dt style="color:brown; font-weight:bold; font-size:large;">
                    @Html.DisplayNameFor(model => model.Adres)
                </dt>

                <dd style="font-weight:bold; font-size:large;">
                    @Html.DisplayFor(model => model.Adres)
                </dd>

                <dt style="color:brown; font-weight:bold; font-size:large;">
                    @Html.DisplayNameFor(model => model.Kan_Grubu)
                </dt>

                <dd style="font-weight:bold; font-size:large;">
                    @Html.DisplayFor(model => model.Kan_Grubu)
                </dd>

                <dt style="color:brown; font-weight:bold; font-size:large;">
                    @Html.DisplayNameFor(model => model.Tel)
                </dt>

                <dd style="font-weight:bold; font-size:large;">
                    @Html.DisplayFor(model => model.Tel)
                </dd>

                <dt style="color:brown; font-weight:bold; font-size:large;">
                    @Html.DisplayNameFor(model => model.Aciklama)
                </dt>

                <dd style="font-weight:bold; font-size:large;">
                    @Html.DisplayFor(model => model.Aciklama)
                </dd>

                <dt style="color:brown; font-weight:bold; font-size:large;">
                    @Html.DisplayNameFor(model => model.UyeDurumu)
                </dt>

                <dd style="font-weight:bold; font-size:large;">
                    @Html.DisplayFor(model => model.UyeDurumu)
                </dd>

            </dl>
        </div>







    </section>

    @*<section id="about" data-stellar-background-ratio="0.5"></section>

        <section id="Contact" data-stellar-background-ratio="0.5"></section>*@


</body>
</html>
<script src="//static.codepen.io/assets/common/stopExecutionOnTimeout-41c52890748cd7143004e05d3c5f786c66b19939c4500ce446314d1748483e13.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="~/Js/KanMerkezi.js"></script>
<script src="~/Js/jquery.js"></script>
<script src="~/Js/bootstrap.min.js"></script>
<script src="~/Js/jquery.stellar.min.js"></script>
<script src="~/Js/owl.carousel.min.js"></script>
<script src="~/Js/smoothscroll.js"></script>
<script src="~/Js/custom.js"></script>
























